@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Questrial&family=Zen+Maru+Gothic&display=swap');

@theme {
  --color-primary: #1F3A5F;
  --color-secondary: #F4F6F8;
  --color-text: #263238;
  
  --font-family-big-title: 'BIZ UDMincho', serif;
  --font-family-small-title: 'Questrial', sans-serif;
  --font-family-text: 'Zen Maru Gothic', sans-serif;
}